.partnerConatner{
    margin-top: 5px;
}

.partnerConatner .header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 95%;
}

.partnerConatner .body {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding: 2rem;
}

.partner {
    display: flex;
    align-items: center;
    height: 2em;
    justify-content: space-around;
    border: 1px solid lightblue;
    margin: 0.5em;
    padding: 0.2em;
    border-radius: 1.5rem;
}

.addpartnerContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.selectContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: aqua; */
    width: 100%;
}

.selectLabel{
    width: 18%;
    font-size: 18px;
    /* background-color: blue; */
    padding: 1rem;
}







